
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    min-width: 100%;
    min-height: 100vh;
    font-family: 'Oxygen', sans-serif;
}

html {
    font-size: 62.5%;
}

/* Hero Seciton */

.hero-section {
    width: 100%;
    height: 90vh;
    background: url('images/b95a3a8056f83a1fef3e8270f1332d68\ \(1\).jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

.social-media-icons {
    display: flex;
    align-items: center;
}

.icon {
    color: white;
    font-size: 30px
}

.lrb-icon {
    width: 130px;
}

.lrb-icon img {
    width: 100%;
}

.hero-heading {
    color: white;
}

